html {
  font-size: 10px;
  background: url('./background.jpg') bottom center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100px;
  position: relative;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  position: relative;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.move0 {

 top: 100px;
}

.move1{

 top: 200px;
}
.move2{
  
  top: 300px;
 
}
.move3{
  top: 400px;
}
.move4{
  top: 500px;
}
.move5{
  top: 600px;
}
.move6{
  top: 700px;
}
.move7{
  top: 800px;
}
.move8{
  top: 900px;
}
.move9{
  top: 1000px;
}

.playing {
  transform: scale(1.1);
  
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
