.card img{
    border-style:double;
    border-color:#f1f1f1;
    height: 65%;
    width: 90%;
    image-resolution: 300dpi;
}
.movie-title{
    height: 20px;
}

.MoreInfo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px,1fr));

  padding: 10%;
}


.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 90%;
    align-items: center;
    
}



.card{
    padding: 15%;
    height: 300px;
    width: 150px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
  grid-gap: 10px;
  padding: 10%;
}
    
    
.grid>div {
  font-size: 15px;
  padding: .5em;
  color: #ffffff;
  background: darkslategray;
  text-align: center;
}


    
.search{
        
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}

body {
        background-color:#ECECEC;  
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}


.narrow-search{
    width: 100%;
    margin-top: 5%;
}

.filter{
    
    background-color: black; 
    width: 25%;
    
    
}



.filter h2{
    background-color: black;
    color: #BBBBBB;
    margin: 0px;
    padding: 0px;
    font-size: medium;
    text-align: center;
    border-style: none;
    
}


form.example1 [type=option]{

padding: 0%;
margin: 0%;
font-size: 15px;
border-style: none;
width: 100%;
text-align: center;

}

.MoreInfo img{
  max-width: 50px;
  image-resolution: 300dpi;
}

.MoreInfo{
  font-size: small;
  font-style: italic;
  text-decoration: underline;
  color: cadetblue;
}
.header-app-name{

  padding: 7.5px;
  font-size:large;
  float: left;
  width: 80%;
  box-sizing: border-box;
  background-color: #BBBBBB;
  text-align: center;  
  margin: 0%;
        
    }
    
    
.header {
        width: 100%;
        padding: 5%;
        padding-bottom: 0%;
    }
  
    
  
.logo{
        max-height: 200px;
    
     
    }

  
div.example input[type=text]{

  padding: 10px;
  font-size: 15px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  box-sizing: border-box;
  margin: 0%;
}



div.example button {
  float: left;
  width: 20%;
  padding: 10px;

  background: darkslategray;
  color: white;
  font-size: 15px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0%;
}

form.example button:hover {
  background: lightblue;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 480px) {



.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 90%;
    align-items: center;
    
}
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  width:80%; 
  position:absolute;
  margin-left: 10%; 
  background-color: #BBBBBB;
  box-shadow: #333;

 }
/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

.cardImage {
  width: 80%;
  margin: 5%;
}


/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
/* Container for flexboxes */
section {
  
  display: flex;
}




/* Style the content */
article {

  flex: 2;
  background-color: #f1f1f1;
  padding: 5%;
  margin-top: 2.5%;
}

.MovieDetails {
  font-size:large;

}

.movieInform{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  font-size: xx-large;
}

.Popup-header{
  text-align: center;
}

.infoblock{
  color: cadetblue;
}

.link{
  padding: 1%;
  margin: 5%;
  box-shadow:#BBBBBB;
  border: #333;
  border-style: groove;
  }



  .checked {
    color: yellow;
  }

  .Rating{
  margin-left: 5%;

  }